block content
  a(class='button link' href="/") Home
  if user
    p Welcome #{user.name}
    img(class='icon' height=40 width=40 src=user.picture)
    pre #{userProfile}
  else
    p You should be logged in
    a(class='button link' href="/login") Login
